<nav id="archive">
  <h1>LDAV Archive</h1>
  <ul>
    <li><a href="http://ldav2016.sci.utah.edu" target="_blank">2016</a></li>
    <li><a href="http://ldav2015.sci.utah.edu" target="_blank">2015</a></li>
    <li><a href="http://ldav2014.sci.utah.edu" target="_blank">2014</a></li>
    <li><a href="http://ldav2013.sci.utah.edu" target="_blank">2013</a></li>
    <li><a href="http://ldav.sci.utah.edu" target="_blank">2012</a></li>
    <li><a href="http://vis.cs.ucdavis.edu/LDAV/index.php" target="_blank">2011</a></li>
  </ul>
</nav>